[Unit]
Description=Check if user has a password and set a random one if missing
After=network.target

[Service]
ExecStart=/usr/local/bin/set_password.sh
Type=oneshot
User=root

[Install]
WantedBy=multi-user.target
